
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #315cfd;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

#dashboard {

    color: black;
    padding: 15px;
    display: inline-block;
    justify-content: space-around;
}

#dashboard div {
    font-size: 18px;
}

form {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h4 {
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #315cfd;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2949b5;
}


#tHistory {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

hr {
    border-color: #315cfd;
}

h3 {
    color: #315cfd;
    text-align: center;
}

section {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#reset {
    position: fixed; 
    right: 0;      
    top: 10px;
    background-color: black;
    color: white;   
    padding: 20px;
    display: inline-block;
    justify-content: space-around;


    }
    
